#featured-property{
  text-align: center;
}
h1{
  text-align: center;
}
#featured-property > p{
  text-align: center;
  /*width: 800px;*/
  padding: 20px;
  font-size: large;
}
#details{
  display: flex;
  justify-content: space-evenly;
  background-color: red;
}
.flex-child{
  padding
}
nav{
  text-align: center;
  background-color: grey;
}
